<a href="https://colab.research.google.com/github/supriyanitsgr/lecture_2/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var1=1
var2=2
var3=int(input("enter a number:"))
if var3>var2:
  print("greater is var3")
  elif var1==var3:
    print("they are equal")
    else:
    print("var3 is smaller")

SyntaxError: ignored

In [ ]:
list1=[1,4,7]
if 1 in list1:
  print("it's in the list")
  if 1 not in list1:
    print("it's not in the list")

it's in the list

In [ ]:
 # list2=["supriya,mira, sameera"]
 # for item in list2:
 # print(item)
 list3= [["supriya,5"],["mira,2"],["sameera,10"]]
 for item ,chocolate in list3:
   print(item)

ValueError: ignored

In [ ]:
a=0
while(a<45):
  print(a)
  a=a+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [ ]:
#   i=0
#    while(true):
#  print(i+1)
#  if (i==44):
#    break
#    i=i+1
i=0

while(True):
      #    if i+1<5:
      #    i=i+1
      #    continue

      print(i+1)
      if(i==44):
        break        #stop the loop
      i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

In [ ]:
a=2
b=4
c=sum((a,b))
print(c)

6

In [ ]:
  def fun():   #function declaration

        print("my name is supriya")

  fun()     #function calling

my name is supriya

In [ ]:
def newfunction(a,b):
     """This is a function which calculates the multiplication of two numbers"""   
     multiply =a*b
     print(multiply)
     return multiply
s=newfunction(2,5)
print(s)
print(newfunction.__doc__)

10
10
This is a function which calculates the multiplication of two numbers

In [ ]:
print("Enter a number")
num1=input()
print("Enter a number")
num2=input()
try:
     print("sum is :",int(num1) +int(num2))
except  Exception as e:
   print(e)

Enter a number
2
Enter a number
5
sum is : 7

In [ ]:
x=5
def  fun():
    x=10   
print("Local variable:",x)
fun()
print("global variable is :",x)

Local variable: 5
global variable is : 5

In [ ]:
def factorial_recursive(n):
     if n==1:
        return 1  
     else:
       return n*factorial_recursive(n-1) 
number =int(input("enter a number:"))
print("factorial :",factorial_recursive(number))

enter a number:4
factorial : 24

In [ ]:
def substraction(p,q):
   sub=p-q
   return sub
num1=int(input("please enter first number"))
num2=int(input("please enter second number"))
print("substraction is ",substraction(num1,num2)) 
 
minus=lambda p,q :p-q
print(minus(5,3))

please enter first number5
please enter second number3
substraction is  2
2

In [ ]:
my ="supriya"
s = 10
s1 = f"My name is {my} {s} "
print(s1)

My name is supriya 10

In [ ]:
class student:
      no_of_student = 5
      def __init__(self,aname, astandard,asection):
        self.name = aname
        self.standard = astandard
        self.section= asection 
one = student("Riya",10,"A")
two = student("supriya",12,"B")
print(one._prot)

In [ ]:
class student:
 no_of_subjects=5     #variables
_prot=2  #protected
__pri=100  #private
 def __init__(self,aname, astandard,asection):
        self.name = aname
        self.standard = astandard
        self.section= asection 
 def details(self):
   return f"N"

In [ ]:
class Student:
    no_of_subjects = 5 #class variable
    _prot = 2 #protected
    __pri = 100 #private
one=student("Meena",10,"A")
def __init__(self,aname,astandard,asection):
        self.name = aname
        self.standard = astandard
        self.section = asection

def details(self):
        return f"Name is {self.name}, Standard is {self.standard}"
print(one._student__pri)

In [25]:
class Teacher(student):
  no_of_working_hours=12
  def __init__(self,aname,astandard,asection,asalary):
        self.name = aname
        self.standard = astandard
        self.section = asection
        self.salary =asalary
  def printsub(self):
          return f"name of the teacher is {self.name},standard is {self.standard}"
          #print(one._teacher__pri)
#one=student("Meena",10,"A",4500)
two=Teacher("Tina",10,"D",6500)
print(two.name)

Tina